<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css" />
        <title>Department Store</title>
    </head>
    <body>
        <div class="grid">
            <header class="row">
                <div>
                    <a class="logo" href="index.html">Department Store</a>
                </div>
                <div>
                    <a href="registration.html">Registration</a>
                    <a href="login.html">Log In</a>
                    <a href="addtocart.html">Cart</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="products.html">
                            <img class="medium" src="./image/3.jpg" alt="products">
                        </a>
                        <div class="card-body">
                            <a href="products.html">
                                <h2>Apple Watch</h2>
                            </a>
                            <div class="price">300$</div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">Thang Nguyen</footer>
        </div>
    </body>
</html>